
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-style: italic;
}